.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-self-center {
    align-self: center !important;
}

.relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}


.pad-250 {
    padding-bottom: 250px !important;
}